.navigationbar {
  display: flex;
  flex-direction: column; //so that components among each other are aligned to the south, not to the right side
  align-items: center;
  background-color: green;
  color: white;
  transition: 0.5s all ease; //to add gradual change when scrolling up/down from navigation bar
  position: sticky; //to keep navigation bar on top whenver we scroll down. Like row freeze in google sheets
  top: 0; //position of sticky component when scrolling is done. 0 means keep it at top
  z-index: 9999; //z-index is added so that when we scroll down, navigation bar overshadows other components of the home page
  //DOC: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index
  &.active {
    background-color: white;
    color: black;
  }

  .container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          //to add hover component to Join button
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative; //so that user options open beneath the profile

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          color: black;
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgrey;
  }

  .menu {
    width: 1400px;
    padding: 10x 0x; //padding from top and bottom in the component
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: black;
    font-family: "Montserrat", sans-serif;
  }
}
